.div-flex {
    display: flex;
}

.width--medium {
    width: 200px;
}

.main_input--large {
    width: 350px;
}

.main_input--medium {
    width: 200px;
}

.main_input--small {
    width: 100px;
}

.main_input--tiny {
    width: 100px;
}

.main_select--large {
    width: 350px;
}

.main_select--medium {
    width: 200px;
}

.main_select--small {
    width: 100px;
}

.inline_margin--small {
    margin-left: 10px;
}

.inline_margin--medium {
    margin-left: 20px;
}

.inline_margin--large {
    margin-left: 20px;
}

.min_height-medium {
    min-height: 150px;
}

.td--label {
    max-width: 200px;
    min-width: 140px;
}

.td--label--medium {
    min-width: 100px;
}

.td--label--short {
    min-width: 40px;
}

.td__p--label {
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.better_font_style {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.bold {
    font-weight: bold;
}

.padding_right-small {
    padding-right: 8px;
}

.padding_left-small {
    padding-left: 8px;
}

.padding_bottom-medium {
    padding-bottom: 20px;
}

.min_width-small {
    min-width: 10px;
}

.collapse-div {
    color: rgb(96, 98, 102);
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.output-html {
    font-family: PingFang SC;
}

.output-div {
    height: 45vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.info-text {
    color: rgb(96, 98, 102);
    font-size: 30px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.right-side-box-card {
    min-height: 500px;
}

.left-side-box-card {
    min-height: 500px;
}

.el-icon-back {
    font-size: 180px;
}

.single-data-setting {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
    margin-right: 20px;
}

.add {
    margin-top: 10px;
    width: 100%;
    height: 34px;
    border: 1px dashed #c1c1cd;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    line-height: 34px;
    color: rgb(96, 98, 102);
}

.edit-form-card {
    padding-bottom: 10px;
}

.singleDataOptionDialogValue {
    padding-left: 30px;
}

.singleDataOptionDialogDeleted {
    padding-left: 8px;
}

.editFormRightButtons {
    padding-left: 20px;
}

.editFormRightButton {
    font-size: 25px;
}

.editFormMoveUp {
    padding-right: 8px;
}

.editFormMoveDown {
    padding-right: 8px;
}

.dialog-type-tooltip {
    padding-left: 3px;
    padding-right: 30px;
}

.edit-form-question-mark {
    padding-left: 5px;
}

.noMargin {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.noPadding {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.padding-right-19 {
    padding-right: 19px;
}

.scrollbar-div::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

.scrollbar-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(83, 83, 83, 0.18);
}

.scrollbar-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    background: #f3f3f300;
}

.max_height-large {
    max-height: 70vh;
}

.max_height-medium {
    max-height: 40vh;
}

.margin_top-large {
    margin-top: 40px;
}

.margin_top-medium {
    margin-top: 20px;
}

.margin_top-small {
    margin-top: 10px;
}

.margin_bottom-medium {
    margin-bottom: 20px;
}

.margin_bottom-small {
    margin-bottom: 10px;
}

.margin_bottom-large {
    margin-bottom: 40px;
}

.margin_bottom-mini {
    margin-bottom: 5px;
}

.margin_left-medium {
    margin-left: 20px;
}

.margin_left-large {
    margin-left: 40px;
}

.margin_left-small {
    margin-left: 10px;
}

.margin_left-mini {
    margin-left: 5px;
}

.margin_right-medium {
    margin-right: 20px;
}

.margin_right-small {
    margin-right: 10px;
}

.margin_right-mini {
    margin-left: 5px;
}

.margin-medium {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

icon-medium::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(83, 83, 83, 0.18);
}

.scrollbar-div {
    max-height: 80vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.scrollbar-div::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}

.scrollbar-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(83, 83, 83, 0.18);
}

.scrollbar-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    background: #f3f3f300;
}

.dialog-footer {
    margin: 20px 20px 20px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.widget-label {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #303133;
    margin-bottom: 20px;
}

.slick_list {
    max-height: 40vh;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    border: 1px solid #efefef;
    max-width: 600px;
    cursor: pointer;
}

.slick_list_item {
    list-style: none;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    color: #606266;
    font-size: 14px;
    z-index: 3000;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    user-select: none;
    color: #333;
    font-weight: 400;
}

.slick_list_item_span {
    margin-left: 20px;
}

.slick_list_item_button {
    margin-right: 10px;
    margin-left: auto;
}

.list {
    max-height: 50vh;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    background-color: #f3f3f3;
    border: 1px solid #efefef;
    max-width: 600px;
    cursor: pointer;
}

.list-item {
    z-index: 9999;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    user-select: none;
    color: #333;
    font-weight: 400;
}

.stylizedHelper {
    background: blue;
    color: #fff
}

.SortableList {
    display: flex;
    width: 90%;
    white-space: nowrap;
    max-height: 80vh;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    background-color: #f3f3f3;
    border: 1px solid #efefef;
    cursor: pointer;
}

.SortableItem {
    z-index: 9999;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    user-select: none;
    color: #333;
    font-weight: 400;
    border: 1px solid #ccc;
}

::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #969595
}

 ::-webkit-scrollbar-track {
    background: #ededed;
    border-radius: 3px;
}

.warningInfo {
    color: #606266;
    font-size: 15px;
    text-align: left;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}