[config]

# weather_api_key
KEY = x

# mail_sender
SENDER = x@qq.com

# mail_password
PASSWORD = x

# mysql_password
DB_PASS = x

# mysql_password
ADMIN_EMAIL = x

# location
LOCATION = 北京

# UPLOAD_FILE_PATH
UPLOAD_FILE_PATH = /home/pi/Documents/Github/PersonalHomepage/upload/

# WALLPAPERS_SAVE_PATH
WALLPAPERS_PATH = /home/pi/Documents/Github/PersonalHomepage/wallpapers/
