[config]

# weather_api_key
KEY = x

# mail_sender
SENDER = x@qq.com

# mail_password
PASSWORD = x

# mysql_password
DB_PASS = x

# mysql_password
ADMIN_EMAIL = x

# location
LOCATION = 北京

# UPLOAD_FILE_PATH
UPLOAD_FILE_PATH = /home/pi/Documents/Github/PersonalHomepage/upload/

# BING_WALLPAPERS_PATH
BING_WALLPAPERS_PATH = /home/pi/Documents/Github/PersonalHomepage/wallpapers/

# widget ids which are from table "widget"
WIDGET_ID_WEATHER = 1
WIDGET_ID_BOOKMARKS = 2
WIDGET_ID_APP = 3
WIDGET_ID_GOLD = 4
WIDGET_ID_NOTES = 5
WIDGET_ID_TRANSLATOR = 6