[config]

# weather_api_key
KEY = x

# mail_sender
SENDER = x@qq.com

# mail_password
PASSWORD = x

# mysql_host
DB_HOST = localhost

# mysql_user
DB_USER = root

# mysql_password
DB_PASS = 123456

# mysql_port
DB_PASS = 3306

# redis_host
REDIS_HOST = localhost

# redis_port
REDIS_PORT = 6379

# admin_email
ADMIN_EMAIL = x

# location
LOCATION = 北京

# UPLOAD_FILE_PATH
UPLOAD_FILE_PATH = /home/pi/Documents/Github/PersonalHomepage/upload/

# WALLPAPERS_SAVE_PATH
WALLPAPERS_PATH = /home/pi/Documents/Github/PersonalHomepage/wallpapers/
